<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC Demo</title>
</head>
<body>
<h1>Spring MVC Demo</h1>
<p>Welcome to MVC Program</p>
<form th:method="POST" th:action="@{/saveEmployee}" th:object="${employee}">
    <label>FirstName:</label>
    <input type="text" th:field="*{firstName}">
    <label>LastName:</label>
    <input type="text" th:field="*{lastName}">
    <label>City:</label>
    <input type="text" th:field="*{city}">
    <label>Email:</label>
    <input type="text" th:field="*{email}">
    <input type="submit" value="Submit">
    </form>
</body>
</html>